@model AdminDashboardMVC.DTO.ShipmentDTO
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                    <label asp-for="IsCompleted" class="control-label"></label>
                    @{
                        var isCompletedOptions = new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Select option", Value = "" },
                            new SelectListItem { Text = "Yes", Value = "true" },
                            new SelectListItem { Text = "No", Value = "false" }
                        };
                    }
                    @Html.DropDownListFor(model => model.IsCompleted, isCompletedOptions, new { @class = "form-control" })
                    <span asp-validation-for="IsCompleted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="moreDetails" class="control-label"></label>
                    <input asp-for="moreDetails" class="form-control" />
                    <span asp-validation-for="moreDetails" class="text-danger"></span>
                </div>
                 <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                      <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
