 @using Microsoft.AspNetCore.Identity
  @inject SignInManager<User> SignInManager
  @inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
@*     <link rel="stylesheet" href="~/AdminDashboardMVC.styles.css" asp-append-version="true" />
 *@    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" asp-controller="Order" asp-action="index">Admin Dashboard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <div class="d-md-inline-block  form-inline ms-auto me-0 mt-3 me-md-3 my-2 my-md-0">


                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <p class="nav-link text-white" >Hello @User.Identity?.Name!</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Settings" asp-action="Details"><i class="fas fa-user fa-fw"></i></a>

                        </li>

                        <li class="nav-item">

                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" >
                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                       
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
                
            </div>
        </nav>
    </header>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Manage</div>
                       
                        <a class="nav-link" asp-controller="Customer" asp-action="index">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Users
                        </a>
                        <a class="nav-link" asp-controller="Role" asp-action="index">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Roles
                        </a>
                        <div class="sb-sidenav-menu-heading">Website</div>
                        <a class="nav-link" asp-controller="Product" asp-action="index">
                            <div class="sb-nav-link-icon"></div>
                            Products
                        </a>
                        <a class="nav-link" asp-controller="Category" asp-action="index">
                            <div class="sb-nav-link-icon"></div>
                            Categories
                        </a>
                       
                        <a class="nav-link" asp-controller="Order" asp-action="index">
                            <div class="sb-nav-link-icon"></div>
                            Orders
                        </a>

                        <a class="nav-link" asp-controller="Review" asp-action="index">
                            <div class="sb-nav-link-icon"></div>
                            Reviews
                        </a>
                        <a class="nav-link" asp-controller="Shipment" asp-action="index">
                            <div class="sb-nav-link-icon"></div>
                            Shipments
                        </a>

                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
