<!-- header of page -->
<div class="header-container">
    <img src="/assets/Images/1.jfif" alt="Header Photo" class="header-photo">
    <div class="text-container">
        <div class="line">About Us</div>
    </div>
</div>

<!-- first section -->
<body>
    <div style="background-color: lightgray;" class="container-fluid text-center">
        <div style="height: 120vh;overflow-x: hidden" class="row mx-4">
            <div class="col-4 col-m ms-md-auto d-flex flex-column justify-content-around"><img src="/assets/Images/3.jfif
                " alt="Image" style="width: 100%; height: 80%;"></div>
            <div class="col-7 ms-md-auto d-flex flex-column justify-content-around">
                <div class="text-start">
                    <h1>A Glimpse amm Furniture History</h1><br>
                    <p style="opacity: 0.6;font-size: 25px;" class="text-opacity text-break">
                    We started out with just one Branch in 2005, today with more than six branches .
                        <br>
                    All our products are manufactured in our factories. With the capacity that allows us to comply with any
                    order size to anywhere in the world.
                    <br><br>
                    PROFESSIONAL PLANNING.INTERIOR DESIGN.We have our own professional designing team to provide you with
                    unique and organic designs.
                    <br>
                    Change “ FURNITURE RESTORATION” to “FURNITURE MANUFACTURING”
                    <br>
                    We design and manufacture all our products in our factories from top quality wood and fabrics.
                    <br><br>
                    we reached thousands of homes to deliver our promise of quality and beauty. We can safely say that
                    American
                    Furniture kept up with times and trends that allows for the most interesting designs and innovation to
                    be<br><br>
                    transformed into furniture ready to enter people’s homes and find their place, creating unique spaces
                    that
                    speak volumes about their occupants. With the balance between comfort and durability we also give you
                    reason
                </div>
                </div>
        </div>
    </div>
</body>

<!-- second section -->
<div>
    <div class="container-fluid text-center">
        <div class="row mx-4">
            <div class="col-4 ms-md-auto d-flex flex-column justify-content-around">
                <div class="text-start">
                    <h1>INTERIOR DESIGN</h1><br>
                    <p style="opacity: 0.6;font-size: 25px;" class="text-opacity text-break">
                        Our Interior Design service brings creativity and functionality together to craft spaces
                        that reflect your unique style. From conceptualization to realization, we
                        create exceptional interior experiences tailored to the essence of your furniture collection.
                    </p>
                </div>
            </div>
            <div class="col-5 col-m ms-md-auto d-flex flex-column justify-content-around"><img src="/assets/Images/4.jfif
            " alt="Image" style="width: 100%; height: 80%;"></div>
        </div>
    </div>
</div>

<!-- second section -->
<div>
    <div style="background-color: lightgray;" class="container-fluid text-center">
        <div class="row mx-4">
            <div class="col-5 col-m ms-md-auto d-flex flex-column justify-content-around"><img src="/assets/Images/5.jfif
                " alt="Image" style="width: 100%; height: 80%;"></div>
            <div class="col-6 ms-md-auto d-flex flex-column justify-content-around">
                <div class="text-start">
                    <h1>FURNITURE RESTORATION</h1><br>
                    <p style="opacity: 0.6;font-size: 25px;" class="text-opacity text-break">
                        Our Furniture Restoration service revives the beauty of timeless pieces, 
                        seamlessly blending craftsmanship and care to breathe new life into your 
                        cherished furniture. We specialize in restoring both aesthetic allure and structural integrity, 
                        ensuring your furniture remains a treasured legacy for generations.
                    </p>
                </div>
                </div>
        </div>
    </div>
</div>