@if(product){
<div class="container my-5" style="margin-top: 1000px;">
  <div class="row ">
    <div class="col-12 col-md-6">
      <div class="images-show row">
        <div class="col-3 h-100">
          <div class="h-100 w-100 d-flex flex-column gap-1">
            @for (imgSrc of images; track imgSrc; let idx = $index) {
            <div class="side-image-bar" (click)="setImageActive(idx)">
              <img
                class="h-100 w-100"
                [class.blur-image]="idx === imgActiveIndex"
                src="{{ imgSrc }}"
                alt="product show"
              />
            </div>
            }
          </div>
        </div>
        <div class="col-9 h-100">
          <img
            class="h-100 w-100"
            src="{{ images[imgActiveIndex] }}"
            alt="product show"
          />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="pl-0 pl-md-2 description">
        <!--title-->
        <h1 class="mb-1">{{ product.name }}</h1>
        <!--price-->
        <p class="text-light-emphasis fw-semibold fs-3">
          EGP{{ product.price }}
        </p>
        <!--section-->
        <div class="d-flex gap-2">
          <div
            class="py-1 px-2 border border-gray d-flex align-items-center gap-2"
          >
            <button class="border border-0 bg-transparent" (click)="plus()">
              +
            </button>
            <span>{{ num }}</span>
            <button class="border border-0 bg-transparent" (click)="minus()">
              -
            </button>
          </div>
          @if(product.stock==0){
          <div class="py-1 px-2 border border-gray">
            <button disabled class="border border-0 bg-transparent">
              Out Of Stock
            </button>
          </div>
          } @else{
          <div class="py-1 px-2 border border-gray">
            <button
              (click)="addToCart(product)"
              class="border border-0 bg-transparent"
            >
              Add To Cart
            </button>
          </div>
          }
        </div>
        <div>
          <h6 class="mt-5 mb-3">Category:{{ product.categoryName }}</h6>
          <p>{{ product.description }} with Weight: {{ product.weight }}Kg</p>
          <!--<p>Weight: {{ product.weight }} Kg</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--================related=================//-->
<!-- cards of page -->
<div class="container mt-5 mb-5">
  <h2 class="my-3">Related Products</h2>
  <div class="row">
    @for (item of relatedProducts; track item.id) { @if (item) {
    <div class="col-sm-12 mx-auto mx-md-0 col-md-6 col-lg-4 col-xl-3">
      <app-card [oneproduct]="item"></app-card>
    </div>
    } }
  </div>
</div>

} @else{
<div class="alert alert-success">
  <h1>Loading..</h1>
</div>
}
