<div class="container mt-5 mb-5">
  <h2 class="my-3">Related Products</h2>
  <div class="row">
    @for (produdt of relatedProducts; track produdt.id; let idx = $index) {
    <div class="col-12 col-sm-6 col-md-3">
      <div
        class="card"
        (mouseover)="addZoomEffect()"
        (mouseout)="removeZoomEffect()"
      >
        <img
          src="../../assets/Images/joyce-hankins-F-e4-hd1-oA-unsplash.jpg"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ produdt.productName }}</h5>
          <p class="card-text">{{ produdt.productDescription }}</p>
        </div>
      </div>
    </div>

    }
  </div>
</div>
